<div class="row">
	<div class="col-sm-12">
		<ul class="navbar">
			<li>Bucket List</li>
			<li><a href="/#!/dashboard">Dashboard</a></li>
			<li><a href="" ng-click="UC.logout()">Logout</a></li>
		</ul>
	</div>
</div>
<div ng-controller="TasksController as TC">
	<div class="row">
		<div class="col-sm-12">
			<h2>Welcome, {{UC.current_user.name}}</h2>
			<form class="form-inline" ng-submit="TC.create(TC.newTask)">
				<div id="title" class="form-group">
					<input type="text" ng-model="TC.newTask.title" placeholder="Title" class="form-control inline_input">
				</div>
				<div id="description" class="form-group">
					<input type="text" ng-model="TC.newTask.description" placeholder="Description" class="form-control inline_input">
				</div>
				<div class="form-group">
					<select class="form-control" ng-model="TC.newTask.altUser">
						<option disabled selected></option>
						<option ng-repeat="user in UC.users" ng-if="user._id  != UC.user._id" value="{{user._id}}">
							{{user.name}}
						</option>
					</select>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Add to List</button>
				</div>
			</form>
			<p class="error" ng-repeat="error in TC.errors">{{error}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h3>Before I die I want to...</h3>
			<ul id="tasks_ul" ng-if="TC.tasks != []">
				<li ng-repeat="task in TC.tasks">
					<input ng-click="TC.update(task._id)" type="checkbox" checked ng-if="task.status == true">
					<input ng-click="TC.update(task._id)" type="checkbox" ng-if="task.status == false">
					<span>{{task._user.name}}</span>
					<span>|</span>
					<span>{{task.title}}</span>
					<span>-</span>
					<span>{{task.description}}</span>
					<span>{{task.createdAt}}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h3>Other Users</h3>
			<ul>
				<li ng-repeat="user in UC.users" ng-if="user != UC.user">
					<a href="/#!/users/{{user._id}}">{{user.name}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
